@font-face {
  font-family: 'utopicons';
  src: url('fonts/utopicons.eot');
  src: url('fonts/utopicons.eot?#iefix') format('embedded-opentype'),
    url('fonts/utopicons.woff') format('woff'),
    url('fonts/utopicons.ttf') format('truetype'),
    url('fonts/utopicons.svg#utopicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='ut-']:before{
  display: inline-block;
  font-family: 'utopicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}


.ut-analysis:before{content:'\0041';}
.ut-blog:before{content:'\0042';}
.ut-bug-hunting:before{content:'\0043';}
.ut-copywriting:before{content:'\0044';}
.ut-design:before{content:'\0045';}
.ut-graphics:before{content:'\0045';}
.ut-development:before{content:'\0046';}
.ut-documentation:before{content:'\0047';}
.ut-video-tutorials:before{content:'\0048';}
.ut-suggestions:before{content:'\0049';}
.ut-ideas:before{content:'\0049';}
.ut-translations:before{content:'\004a';}
.ut-tutorials:before{content:'\004b';}
.ut-visibility:before{content:'\004c';}
.ut-social:before{content:'\004c';}
.ut-plus:before{content:'\004d';}
.ut-utopian:before{content:'\004e';}
